@import "tailwindcss";

:root {
  --background: black;
  color: white;
}

body {
  overflow-x: hidden;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", sans-serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.poppins-300 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.poppins-400 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.poppins-500 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.poppins-600 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.poppins-700 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.poppins-800 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}
